In [1]:
import pandas as pd
import numpy as np
import io
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
iris_set = pd.read_csv('iris/iris.data', encoding='unicode_escape')

In [3]:
iris_set

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [4]:
iris_set.columns = ['sepal_length', 'sepal_width', 'petal_width', 'petal_length', 'class']

In [5]:
iris_set

     sepal_length  sepal_width  petal_width  petal_length           class
0             4.9          3.0          1.4           0.2     Iris-setosa
1             4.7          3.2          1.3           0.2     Iris-setosa
2             4.6          3.1          1.5           0.2     Iris-setosa
3             5.0          3.6          1.4           0.2     Iris-setosa
4             5.4          3.9          1.7           0.4     Iris-setosa
..            ...          ...          ...           ...             ...
144           6.7          3.0          5.2           2.3  Iris-virginica
145           6.3          2.5          5.0           1.9  Iris-virginica
146           6.5          3.0          5.2           2.0  Iris-virginica
147           6.2          3.4          5.4           2.3  Iris-virginica
148           5.9          3.0          5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [6]:
iris_set['class'].value_counts()

class
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [7]:
len(iris_set['class'].unique())

3

In [8]:
sepal_length_45_10 = iris_set['sepal_length'].where((iris_set['sepal_length'] > 4.5) & (iris_set['sepal_length'] < 10))

In [9]:
print(sepal_length_45_10)

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal_length, Length: 149, dtype: float64

In [10]:
average_sepal_length_total = iris_set['sepal_length'].mean()
average_sepal_length_total

5.8483221476510066

In [19]:
red =  pd.read_csv('vine/winequality-red.csv', sep=';', encoding='unicode_escape')

In [20]:
white =  pd.read_csv('vine/winequality-white.csv', sep=';', encoding='unicode_escape')

In [21]:
red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [22]:
white

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [23]:
white_quality = white["quality"].mean()
white_quality

5.87790935075541

In [24]:
white.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [26]:
red_quality = red["quality"].mean()
red_quality

5.6360225140712945

In [31]:
red_correlation = red['alcohol'].corr(red['quality'])
red_correlation_rounded = round(red_correlation, 2)
print(red_correlation_rounded)

0.48

In [33]:
white_correlation = white['alcohol'].corr(white['quality'])
white_correlation_rounded = round(white_correlation, 2)
print(white_correlation_rounded)

0.44